<main class="app">

  <div class="search">
    <div>
      <input class="search_input" placeholder="Поиск по интернет-банку" type="text">
      <img alt="search" class="search_icon" src="assets/cards/IconSearch.svg">
    </div>
  </div>

  <div class="creditCard">
    <div class="creditCard_header">
      <h2>Карта ****4112</h2>
      <div>
        <span>Обзор</span>
        <span>Лимиты</span>
        <span>О счете</span>
      </div>
    </div>
    <div class="creditCard_content">
      <img src="assets/cards/creditCard.png" alt="credit card">
      <div>
        <span>Доступно по карте</span>
        <span>500,000 ₽</span>
        <span>Срок действия до 05/2022</span>
      </div>
    </div>
  </div>


  <h2>Действия</h2>
  <div class="cards">
    <div class="card">
      <div class="card_content">
        <img alt="arrow right" src="assets/cards/plus.svg">
        <span>Пополнить</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="invoice" src="assets/cards/stars.svg">
        <span>Установить ПИН-код</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="info" src="assets/cards/card.svg">
        <span>Перевыпустить</span>
      </div>
    </div>
  </div>

  <div class="search">
    <h2>История операций</h2>
    <div>
      <input class="search_input" placeholder="Найдите любые события и операции" type="text">
      <img alt="search" class="search_icon" src="assets/cards/IconSearch.svg">
    </div>
  </div>

  <div class="chart">
    <h2>Статистика за июнь</h2>
    <div>
      <img alt="" src="assets/cards/chart.svg">
      <button class="button">Вся статистика</button>
    </div>
  </div>
</main>
