@import '../styles';


.app {
  width: 100%;
  justify-self: center;
  display: grid;

  .chart {
    width: 100%;
    display: grid;
    margin: 50px 0;

    > div {
      background-color: #fff;
      padding: 40px;
      border-radius: 10px;
      cursor: pointer;
      display: grid;
      place-items: center;

      box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 4px 20px rgba(0, 32, 51, 0.08);
      @include transition(box-shadow);

      &:hover {
        box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 4px 30px rgba(0, 32, 51, 0.25);
        @include transition(box-shadow);
      }

      img {
        width: 100%;
      }
    }

    h2 {
      justify-self: flex-start;
      margin-bottom: 20px;
    }
  }

  .button {
    background-color: #2C2D84;
    width: 210px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    place-self: center;
    font-size: 18px;
  }


  .search {
    margin: 20px 0;

    h2 {
      margin-bottom: 15px;
    }

    &_input {
      position: relative;
      min-height: 50px;
      display: flex;
      align-items: center;
      background-color: #fff;
      border: 1px solid rgba(0, 66, 105, 0.28);
      border-radius: 4px;
      padding: 0 10px 0 30px;
      width: 100%;
      font-size: 16px;

      &::placeholder {
        color: rgba(0, 32, 51, 0.35);
      }

    }

    > div {
      position: relative;
    }


    &_icon {
      position: absolute;
      bottom: 18px;
      left: 11px;
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    gap: 30px;
    margin: 15px 0;

    .card {
      width: 100%;
      height: 130px;
      display: grid;
      place-items: center;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 4px 20px rgba(0, 32, 51, 0.08);
      @include transition(box-shadow);

      &:hover {
        box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 4px 30px rgba(0, 32, 51, 0.25);
        @include transition(box-shadow);
      }

      &_content {
        display: grid;
        place-items: center;

        & > span {
          margin-top: 10px;
        }
      }
    }
  }

  .creditCard {
    display: grid;
    gap: 20px;
    margin: 30px 0;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      border-bottom: 1px solid #C4C4C4;

      div {
        align-self: flex-end;
        position: relative;

        span {
          margin-right: 15px;
          font-weight: 300;
          font-size: 16px;
          cursor: pointer;

          &:first-child {
            font-weight: 900;
            font-size: 16px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              width: 120%;
              height: 4px;
              background-color: #F26126;
              bottom: -17px;
              left: -6px;
            }
          }
        }
      }
    }

    &_content {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      background-color: #f6f6f6;
      padding: 30px;
      border-radius: 10px;
      cursor: pointer;
      @include transition(box-shadow);

      &:hover {
        box-shadow: 0 2px 2px rgba(0, 32, 51, 0.02), 0 4px 20px rgba(0, 32, 51, 0.08);
        @include transition(box-shadow);
      }


      div {
        display: grid;
        font-size: 16px;

        span {
          line-height: 1.5;
        }

        span:nth-child(1) {
          font-weight: 300;
        }

        span:nth-child(2) {
          font-weight: 900;
        }

        span:nth-child(3) {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }

  }
}
